# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
<ul>
    <li>R</li>
    <li>SQL</li>
    <li>Python</li>
    </ul>

### some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Numpy</li>
    <li>Pandas</li>
    </ol>

### Some of the popular languages that Data Scientists use are:
<ol>
    <li>R</li>
    <li>SQL</li>
    <li>Python</li>
    </ol>

<table>
<tr>
<th>Data Science Tools</th>
</tr>
<tr>
<td>R</td>
</tr>
<tr>
<td>SQL</td>
</tr>
<tr>
<td>Python</td>
</tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
a=(3*4)+5
print(a)

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
min=200
hours=min/60
print(hours)

3.3333333333333335

## Author
name